/* Global */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
button {
  font: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.app {
  padding-top: 33px;
  padding-left: 33px;
}
.mainTitle {
  margin-bottom: 13px;
}
.title {
  margin-top: 13px;
  margin-bottom: 13px;
}
